@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    max-width: 100%;
}

body{
    margin: 0;
    padding: 0;
}

/* HEADER */

.wrapper{
    max-width: 104vw;
}
#container-header{
    background-color: #2E948A;
    height: 18vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: bold;
    /* font-size: 20px; */
    font-size: 2.8vh;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
}

.image-topo{
    margin: 0 15%;    
}

#container-menu{
    text-align: right;
    margin-right: 5%;
}

.menu{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-item{
    display: inline;
}

.menu-item-link{
    text-decoration: none;
    /* margin: auto 20px; */
    margin: auto 2.8vh;
    color: #fff;
}  

/* MAIN */

/* HOME */

#container-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5% 0;
}

.titulo-card-banner{
    color: #FF4081;
    font-weight: bold;
    /* font-size: 50px; */
    font-size: 7vh;
    margin: 0;
}

.text-card-banner{
    color:#555555;
    font-weight: bold;
    /* font-size: 27px; */
    font-size: 3.78vh;

}

.buttom-card-banner{
    text-decoration: none;
    /* font-size: 27px; */
    font-size: 3.78vh;
    color: #FF4081;
    border: 2px solid #FF4081;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 60px;
    text-align: center;
    /* width: 400px; */
    width: 26vw;
    padding: 2% 6%;
    margin: 15% 0;
}

.buttom-card-banner:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: .5 all;
    background-color: #FF4081;
    color: #fff;
}

#image-banner-topo{
    width: 30.98vw;
}

#container-investimentos{
    background-color:#F6F6F6;
}

#container-carrosel-investimentos{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#carrosel-investimentos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card-investimentos{
    margin: 5%;
    list-style: none;
}

.image-card-investimentos{
    /* height: 270px; */
    height: 37.81vh;
}

.titulo-card-investimentos{
    /* font-size: 25px; */
    font-size: 4.8vh;
    font-weight: bold;
    color: #FF4081;
}

.subtitulo-card-investimentos{
    /* font-size: 16px; */
    font-size: 2.24vh;
    text-align: left;
}

.buttom-card-investimentos{
    text-decoration: none;
    /* font-size: 27px; */
    font-size: 3.78vh;
    color: #fff;
    background-color: #FF4081;
    box-sizing: border-box;
    /* border-radius: 60px; */
    border-radius: 8.4vh;
    text-align: center;
    /* padding: 4% 60px; */
    padding: 4% 3.9vw;
}

.buttom-card-investimentos:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: .5 all;
    background-color: #fff;
    color: #FF4081;
}

#container-depoimentos{
    margin: 0 5%;
    box-sizing: border-box;
    padding: 5%;
}

.titulo-container-depoimentos{
    color:#009688;
    /* font-size: 37px; */
    font-size: 5.18vh;
    font-weight: bold;
}

.lista-depoimentos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    /* height: 102.24vh; */
    margin: 0;
    padding: 0;
}

.text-card-depoimentos{
    /* width: 360px; */
    width: 26vw;
    font-size: 2.52vh;
    /* font-size: 18px; */
    line-height: 3.5vh;
}

.card-depoimentos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3% 0;
}

.image-card-depoimentos{
    margin-right: 5%;
} 

#section-conteudo{
    background-color: #F6F6F6;
}

#container-conteudo{
    margin: 0 10%;
    box-sizing: border-box;
    
}

.titulo-container-conteudo{
    padding: 7% 0;
    font-weight: bold;
    /* font-size: 37px; */
    font-size: 5.18vh;
    color:#009688;
}

#lista-conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-conteudo{
    list-style: none;
    text-align: justify;
    /* width: 320px; */
    width: 20.83vw;
    box-sizing: border-box;
}

.titulo-card-conteudo{
    color: #009688;
    /* font-size: 27px; */
    font-size: 3.78vh;
    font-weight: bold;
    margin-bottom: -4%;
}

.subtitulo-card-investimentos{
    /* font-size: 20px; */
    font-size: 2.8vh;
}

#buttom-conteudo{
    display: flex;
    justify-content: center;
    padding: 4% 0;
}

.buttom-container-conteudo{
    text-decoration: none;
    padding: 1% 6%;
    /* font-size: 25px; */
    font-size: 3.5vh;
    border: 2px solid #FF4081;
    /* border-radius: 60px; */
    border-radius: 8.4vh;
    color: #FF4081;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
}

.buttom-container-conteudo:hover{
    transition: .5 all;
    background-color: #FF4081;
    color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* CURSOS */

#container-cursos{
    margin: 5%;
    padding: 0;
}

.titulo-container-cursos{
    color: #FF4081;
    font-weight: bold;
    font-size: 8.40vh;
    /* font-size: 60px; */
    margin-bottom: -1.5%;
}

.subtitulo-container-cursos{
    color: #555555;
    font-size: 2.8vh;
    /* font-size: 20px; */
    font-weight: normal;
}

#lista-cursos{
    margin: 5% 0;
    padding: 0;
    margin-bottom: 20%;
}

.card-cursos{
    display: flex;
    margin: 5% 0;
    gap: 7%;
}

.image-card-cursos{
    width: 24.73vw;
    /* width: 380px; */

}

.text-card-cursos{
    width: 47.13vw;
    /* width: 724px; */
    text-align: left;
}

.titulo-card-cursos{
    color: #FF4081;
    font-weight: bold;
    font-size: 4.90vh;
    /* font-sizze: 35px; */
}

.subtitulo-card-cursos{
    color: #555555;
    font-weight: normal;
    font-size: 2.52vh;
    /* font-size: 18px; */
    margin: 5% 0 10% 0;
}

.buttom-card-cursos{
    text-decoration: none;
    padding: 1% 8%;
    /* font-size: 20px; */
    font-size: 2.8vh;
    border: 2px solid #419488;
    /* border-radius: 60px; */
    border-radius: 8.4vh;
    color: #fff;
    background-color:#419488;
    text-align: center;
}

.buttom-card-cursos:hover{
    transition: .5 all;
    background-color: #fff;
    color:#419488;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.traco{
    height: 0.5vh;
    background-color: #C4C4C4;
    border: none;
}

/* CURSO AULAS */


#banner-aulas{
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-banner-aulas{
    width: 29.94vw;
    /* width: 460px; */
}

.titulo-banner-aulas{
    color: #FF4081;
    font-size: 7.70vh;
    /* font-size: 55px; */
}
.subtitulo-banner-aulas{
    color: #555555;
    font-size: 2.8vh;
    /* font-size: 20px; */
}

#container-menu-aulas{
    background-color: #F6F6F6;
}

#menu-aulas{
    margin: 0 5%;
}

.card-aulas{
    padding: 5% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-card-aulas{
    width: 32.61vw;
    /* width: 501px; */
}

.titulo-card-aulas{
    color: #FF4081;
    font-size: 4.90vh;
    /* font-size: 35px; */
}

.subtitulo-card-aulas{
    color: #555555;
    font-size: 2.8vh;
    /* font-size: 20px; */
}

/* BLOG */

#container-banner-blog{
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-banner-blog{
    width: 30.01vw;
    /* width: 461px; */
}

.titulo-banner-blog{
    color:#009688;
    font-weight: bold;
    font-size: 6.58vh;
    /* font-size: 47px; */
}

.subtitulo-banner-blog{
    color: #555555;
    font-size: 2.8vh;
    /* font-size: 20px; */
}

#container-menu-posts{
    background-color: #E5E5E5;
    margin: 0 0;
    padding: 5% 0;
    box-sizing: border-box;
}

#menu-posts{
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    height: 210.08vh;
    /* height: 1500px; */
}

.card-menu-posts{
    width: 33.72vw;
    /* width: 518px; */
    list-style: none;
    box-sizing: border-box;
}

.titulo-card-posts{
    color: #FF4081;
    font-size: 4.2vh;
    /* font-size: 30px; */
}

.subtitulo-card-posts{
    color: #555555;
    font-size: 2.38vh;
    /* font-size: 17px; */
}

/* POST */

#container-post{
    margin: 5% 0;
    text-align: center;
}

.titulo-post{
    color: #FF4081;
    font-size: 7vh;
    /* font-size: 50px; */
    margin-bottom: -1%;
}

.subtitulo-post{
    color:#9D9D9D;
    font-size: 2.52vh;
    /* font-size: 18px; */
    margin-bottom: 5%;
}

#post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: left;
}

.image-post{
    margin-bottom: 5%;
}

#container-text-post{
    text-align: left;
     width: 67.18vw;
    /* width: 1032px; */
}

.text-post{
    margin-bottom: 5%;
}

.title-text-post{
    color: #2E948A;
    font-size: 4.2vh;
    /* font-size: 30px; */
    text-align: left;
}

#titulo-carrosel-investimentos{
    text-align: center;
    padding: 5% 0 0 0;
    font-size: 7vh;
    /* font-size: 50px; */
    color: #FF4081;
}

/* CONTATO */

#container-contato{
    margin: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container-formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titulo-form{
    color: #FF4081;
    font-size: 5.6vh;
    /* font-size: 40px; */
    margin: 10% 0;
}

input, textarea{
    margin-bottom: 5%;
    width: 32.03vw;
    /* width: 492px; */
    box-sizing: border-box;
    border-radius: 0.98vh;
    /* border-radius: 7px; */
    border: 0.14vh solid #686868;
    padding: 2%;
    font-size: 2.24vh;
}

input::placeholder, textarea::placeholder{
    padding-left: 0.32vw;
    /* padding-left: 5px; */
    color:#58555D;
    font-size: 2.24vh;
    /* font-size: 16px; */
}
textarea::placeholder{
    padding-top: 1.4vh;
    /* padding-top: 10px; */
}

input{
     height: 4.48vh;
    /* height: 32px; */
}

.button-form{
    text-decoration: none;
    padding: 1% 4%;
    /* font-size: 16px; */
    font-size: 2.24vh;
    width: 7.03vw;
    /* width: 108px; */
    border-radius: 8.4vh;
    color: #fff;
    background-color:#FF4081;
    text-align: center;
    box-sizing: border-box;
}

.button-form:hover{
    transition: .5 all;
    background-color: #fff;
    color:#FF4081;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* FOOTER */

#container-footer{
    background-color: #419488;
    /* height: 205px; */
    height: 28.71vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: bold;
    /* font-size: 20px; */
    font-size: 2.8vh;
}

.image-footer{
    margin-left: 20%;
}

#menu-footer{
    text-align: justify;
}    

.menu-item-footer{
    list-style: none;
    margin: 5% 0;
}

.menu-item-footer-link{
    text-decoration: none;
    color: #fff;
}

#container-buttom{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    box-sizing: border-box;
}

.buttom-footer{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    background-color: #419488;
    box-sizing: border-box;
    border-radius: 8.4vh;
    text-align: center;
    /* width: 290px; */
    width: 18.88vw;
    padding: 2%;
    margin: 2%;
}

.buttom-footer:hover{
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
transition: .5 all;
background-color: #fff;
color: #419488;
}

@media (min-width: 320px) and (max-width: 480px){

/* HEADER */

#container-header{
    font-size: 1.5vh;
    height: 10vh;    
}

.image-topo{
    margin: 0 15%;
    width: 30vw;    
}

.menu-item-link{
    margin: auto 1vh;
}  

/* MAIN */

/* HOME */

#container-banner{
    text-align: center;
}

#card-banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-card-banner{
    font-size: 7vh;
    width: 60vw;
}

.text-card-banner{
    font-size: 3vh;
}

.buttom-card-banner{
    font-size: 2.5vh;  
    padding: 4% 10%;
    margin: 2% 0;
    text-align: center;
    width: 60vw;
}

#image-banner-topo{
     display: none;
}

.card-investimentos{
    text-align: left;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image-card-investimentos{
    height: 30vh;
    margin-bottom: -3%; 
} 

#carrosel-investimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0; 
}

.titulo-card-investimentos{
    font-size: 3vh;
    margin-bottom: -1%;
}

.subtitulo-card-investimentos{
    display: none;
}

.buttom-card-investimentos{  
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    width: 55vw;
}

#container-depoimentos{
    margin: 0 2%;
    box-sizing: border-box;
    padding: 2%;
}

.titulo-container-depoimentos{
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
}

.text-card-depoimentos{
    width: 90%;
    font-size: 2vh;
}

.titulo-container-conteudo{
    font-size: 5vh;
    text-align: center;
}

#lista-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-conteudo{
    text-align: center;
    width: 100%;
    padding: 5% 0;
    gap: 5%;
}
.titulo-card-conteudo{
    font-size: 3vh;
    margin: 0;   
}

.subtitulo-card-conteudo{
    display: none;
}

#buttom-conteudo{
    padding: 5%;
}

.buttom-container-conteudo{
    font-size: 2.5vh;
}

/* CURSOS */

#container-cursos{
    margin: 0;
    padding: 0;
    text-align: center;
}

.titulo-container-cursos{
    font-size: 12vh;
    margin-bottom: -1.5%;
    
}

.subtitulo-container-cursos{
    font-size: 3vh;   
}

#lista-cursos{
    margin: 5% 0;
    padding: 0;
    margin-bottom: 20%;
    
}

.card-cursos{
    text-align: center;
    justify-content: center;
    padding-bottom: 5%;
}

.image-card-cursos{
    display: none;
}

.text-card-cursos{
    width: 80%;
    text-align: center;
}    

.titulo-card-cursos{
    font-size: 3vh;
}

.subtitulo-card-cursos{ 
    font-size: 2vh;
    text-align: justify;
    margin-bottom: 15%;
}

.buttom-card-cursos{
    text-decoration: none;
    padding: 4% 8%;
    font-size: 2vh;
    text-align: center;
}

/* BLOG */

#container-banner-blog{
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-banner-blog{
    display: none;
}

.text-banner-blog{
    width: 80%;
}

.titulo-banner-blog{
    font-size: 4vh;
    text-align: center;
}

.subtitulo-banner-blog{
    font-size: 2.5vh;    
}

#container-menu-posts{
    padding: 5%;
    box-sizing: border-box;
}

#menu-posts{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 30%;
}

.card-menu-posts{
    width: 45%;
    list-style: none;
    box-sizing: border-box;
}

.titulo-card-posts{
    font-size: 2vh;
}

.subtitulo-card-posts{
    display: none;
}

/* CONTATO */

#container-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-form{
    color: #FF4081;
    font-size: 9vh;
    /* font-size: 40px; */
    margin: 10% 0;
}

input, textarea{
    margin-bottom: 10%;
    width: 100%;
    padding: 2%;
    font-size: 2.24vh;
}

input::placeholder, textarea::placeholder{
    font-size: 2vh;
}
textarea::placeholder{
    padding-top: 0.5vh;
    /* padding-top: 10px; */
}


.button-form{
    text-decoration: none;
    padding: 1.5% 8%;
    font-size: 2.5vh;
    width: 80%;
    text-align: center;
    box-sizing: border-box;
}

.image-contato{
    display: none;
}

/* CURSO AULAS */

#banner-aulas{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-banner-aulas{
    display: none;
}

.text-banner-aulas{
    width: 80%
}

.titulo-banner-aulas{
    font-size: 6vh;
}
.subtitulo-banner-aulas{
    font-size: 2.5vh;
}

#menu-aulas{
    margin: 0 5%;
}

.card-aulas{
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.text-card-aulas{
    width: 80%;
}

.titulo-card-aulas{
    font-size: 5vh;
}

.subtitulo-card-aulas{
    font-size: 2vh;
}

/* FOOTER */

#container-footer{
    height: 15vh;
    box-sizing: border-box;
}

.image-footer{
    width: 35vw;
}

.menu-item-footer{
    padding: 5% 0;
    font-size: 1.5vh;
}

.buttom-footer{
    font-size: 1.5vh;
    padding: 5% 0;
}
}

@media (min-width: 767px) and (max-width: 1024px){

/* HEADER */

#container-header{
    /* font-size: 20px; */
    font-size: 2vh;    
}

.image-topo{
    margin: 0 15%;
    width: 30vw;    
}

.menu-item-link{
    /* margin: auto 20px; */
    margin: auto 1.5vh;
}  

/* MAIN */

/* HOME */

.titulo-card-banner{
    font-size: 7vh;
}

.text-card-banner{
    font-size: 4vh;
}

.buttom-card-banner{
    font-size: 4vh;  
    padding: 2% 8%;
    margin: 10% 0;
}

.card-investimentos{
    text-align: left;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
}

.titulo-card-investimentos{
    font-size: 3vh;
    text-align: left;
    margin-bottom: -2%;
}

.subtitulo-card-investimentos{
    font-size: 2vh;
    text-align: left; 
}

.buttom-card-investimentos{  
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    width: 80%;
}

#container-depoimentos{
    margin: 0 2%;
    box-sizing: border-box;
    padding: 2%;
}

.titulo-container-depoimentos{
    font-size: 5.5vh;
    font-weight: bold;
    text-align: center;
}

.lista-depoimentos{
    flex-direction: column;
    margin: 0 1%;
}

.text-card-depoimentos{
    width: 90%;
    font-size: 2.5vh;
}

.image-card-depoimentos{
    width: 20vw;
} 

.titulo-container-conteudo{
    font-size: 7vh;
    text-align: center;
}

#lista-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-conteudo{
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    padding: 5% 0;
    gap: 5%;
}
.titulo-card-conteudo{
    font-size: 7vh;
    margin: 0;   
}

.subtitulo-card-conteudo{
    display: none;
}

/* CURSOS */

.titulo-container-cursos{
    font-size: 14vh;
    margin-bottom: -1.5%;
    text-align: center;    
}

.subtitulo-container-cursos{
    font-size: 3vh;
    text-align: center;   
}

/* CONTATO */

.button-form{
    text-decoration: none;
    padding: 1.5% 8%;
    font-size: 2.5vh;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
}

.image-contato{
    width: 50%;
}

/* CURSO */

iframe{
    width: 50%;
}

/* FOOTER */

#container-footer{
    height: 25vh;
}

.image-footer{
    width: 30vw;
}

.menu-item-footer{
    padding: 6% 0;
    font-size: 2vh;
}

.buttom-footer{
    font-size: 2vh;
}

}